@charset "UTF-8";
* {
        box-sizing: border-box;
}


    /* Estilo para o mapa ocupar todo o espaço disponível */
    #map {
        height: 300px;
        width: 100%;
    }



iframe {
 height: 630px;
 width: 400px;
 
}


@media screen and (max-width: 1259px){
    iframe {
        height:400px;
        width: 400px;

        
}

}

@media screen and (max-width: 1025px){
 
    
    iframe {
        height:400px;
        width: 400px;

        
}
}