@charset "UTF-8";
* {
        box-sizing: border-box;
}


.div-frame {
    position: fixed;
    top: 50%;
    left: 59%;
    transform: translate(-50%, -50%);
}

iframe {
 height: 630px;
 width: 400px;
 
}


@media screen and (max-width: 1259px){
    iframe {
        height:400px;
        width: 400px;
        display: none;
        
}

}

@media screen and (max-width: 1025px){
 
    
    iframe {
        height:400px;
        width: 400px;
        display: none;
        
}
}