@charset "UTF-8";

        /*conteudo sobre*/
.content {
                                                                        margin: 0px 20px 20px 20px; 
                                                                        border-radius: 22px;  
}


.h1-estoufazendo {
                                                                        margin-bottom: 20px;
}

.container-estou-fazendo {
                                                                        display: flex;
                                                                        flex-wrap: wrap;
                                                                        gap: 10px;
}

.estou-fazendo {
                                                                        height: 100px;
                                                                        display: flex;
                                                                        align-items: center;
                                                                        background-color: var(--div);
                                                                        border-radius: 22px;
                                                                        box-shadow: -1px -1px 0px 1px rgba(255, 255, 255, 0.082);          
                                                                        width: calc(50% - 10px); /* Cada item ocupa 50% da largura com espaçamento */
}
.estou-fazendo:hover {
                                                                        border: 1px solid rgba(255, 255, 255, 0.486);
                                                                        cursor: pointer;
                                                                        transform: scale(1.1);
}

.img-estou-fazendo {
                                                                        width: 50px;
                                                                        height: 50px;
                                                                        margin: 3px;
                                                                        padding: 3px;
}

@media screen and (max-width: 1249px) {

                                /*conteudo sobre*/
                .content {
                                                                margin: 0px 20px 20px 20px;
                                                                padding: 35px 25px 15px 25px;
                                                                margin: auto;
                }
                
                .container-estou-fazendo {       
                }

                .estou-fazendo {
                                                                margin: 15px;
                                                                width: calc(50% - 10px); /* Cada item ocupa 50% da largura com espaçamento */
                                                                margin: auto;
                }
}

@media screen and (max-width: 1025px) {

                /*conteudo sobre*/
        .content {
                                                margin: 0px 20px 20px 20px;
                                                padding: 35px 25px 15px 25px; 
        }
        .h1-estoufazendo {
                                                text-align: center;
}
        .container-estou-fazendo {
                                                flex-direction: column;
        }

        .estou-fazendo {

                                                height: 150px;
                                                align-items: center;
                                                justify-content: center;
                                                padding: 5px;
                                                margin: 15px;
                                                width: 100%;

        }

        .estou-fazendo-footer {
                                                margin-bottom: 50px;
        }

}